<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Optipyzer API</title>

    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/api_landing.css') }}">
    
  </head>

  <body>
    <div class="container main-div vcenter">
      <div class="row h-100">
        <div class="col-lg-5 col-sm-12">
          <h1 class="title">Optipyzer API</h1>
          <hr>
            <p class="body">This is the Optipyzer API. It links the organism database with our unique codon optimization algorithms and optimization engine. Please use the links to access,the main site, API documentation, and our Optipyzer python package for developers.
            </p>
        </div>
        <div class="col-lg-7 col-sm-12 my-auto">
          <div class="row">
            <a href="https://optipyzer.herokuapp.com"><button type="button" class="btn btn-light btn-padding">Main Site</button></a>
          </div>
          <div class="row">
            <a href="https://github.com/NLeRoy917/optipyzer#usage"><button type="button" class="btn btn-light btn-padding">API Documentation</button></a>
          </div>
          <div class="row">
            <a href="https://pypi.org/project/optipyzer/"><button type="button" class="btn btn-light btn-padding">PyPi Package</button></a>
          </div>
        </div>
      </div>
    </div>
  </body>
