body {
	 background-image: url("../imgs/bckrnd_minimal.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;

  color:white;
}

.vcenter {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.main-div {
	padding-top: 50px;

}

.title {
	font-size: 5em;
	text-shadow: 2px 2px #000000;
	font-weight: 200;
}

.body {
  text-align: justify;
  text-justify: inter-word;
}

.btn-padding {
	margin: 10px;
}